PORT=8001

# DATABASE CONFIG
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=

#JWT CONFIG
SERVICE_JWT_ACCESS_TOKEN_SECRET=
SERVICE_JWT_REFRESH_TOKEN_SECRET=

# SHARABLE LINK CONFIG
JWT_SHARABLE_LINK_SECRET=
PAYMENT_SERVICE_SECRET=

#CONFIG COOKIE SECRET
COOKIE_SECRET=

# KRIKIA URLS
CUSTOMER_FRONTEND_URL=
BUSINESS_FRONTEND_URL=
CDN_URL=
PAYMENT_SERVICE_URL=


# SETUP EMAIL
SENDER_EMAIL_NAME=
SENDER_EMAIL_EMAIL=
EMAIL_API_KEY=